ymaps.ready(function() {
    var highlightedDistrict;
    var clicked = false;

    function baloonText(district) {
        return 'Чат: <a href="tg://resolve?domain=' + district.properties.username + '">' + district.properties.name + '</a><br/>\n' +
                'Участников: ' + district.properties.count + '<br/>';
    }

    function mouseEnterHandler(event) {
        var district = event.get('target').getParent();
        district.options.set({ strokeColor: '#000000' });
        var coords = event.get('coords');
        coords[0] = coords[0] + 2;
        districtBalloon.open(
            coords,
            baloonText(district)
        );
    };
    function mouseLeaveHandler(event) {
        var district = event.get('target').getParent();
        if (district !== highlightedDistrict) {
            district.options.set({ strokeColor: '#bbbbbb' });
            clicked = false;
        }
    };

    function clickEventHandlerMini(event) {
        mouseEnterHandler(event);
        var district = event.get('target').getParent();
        if (highlightedDistrict) highlightedDistrict.options.set({ strokeColor: '#bbbbbb' });
        highlightedDistrict = district;
    }

    var map = new ymaps.Map("first_map", {
        center: [60, 80],
        zoom: 2,
        controls: ['zoomControl']
    },{
        restrictMapArea: [[10, 10], [85,-160]]
    });
    var districtBalloon = new ymaps.Balloon(map);
    districtBalloon.options.setParent(map.options);
    ymaps.borders.load('RU', {
        lang: 'ru',
        quality: 2
    }).then(reg => {
        const features = reg.features;
        <% items.forEach(item => { %>
            (function() {
                var region = new ymaps.GeoObjectCollection(null, {
                    fillColor: '<%= item.color %>',
                    strokeColor: '#bbbbbb',
                    strokeOpacity: 1,
                    fillOpacity: 1,
                    hintCloseTimeout: 0,
                    hintOpenTimeout: 0
                });
                region.properties.count = <%= item.count %>;
                region.properties.name = '<%= item.name %>';
                region.properties.username = '<%= item.username %>';
                <% item.codes.forEach(code => { %>
                region.add(new ymaps.GeoObject(features.find(reg => reg.properties.iso3166 === '<%= code %>')));
                <% }); %>
                map.geoObjects.add(region);
                region.events.add('mouseenter', mouseEnterHandler);
                region.events.add('mouseleave', mouseLeaveHandler);
                region.events.add('click', clickEventHandlerMini);
                /* region.events.add('click', clickEventHandler); */
            })();
        <% }); %>
    });
});
